<footer class="footer">
  <div class="social align-text">
    <a href="https://github.com/Zorvoan"><i class="bx bxl-github"></i></a>
    <a href="https://www.tiktok.com/@zdendaaa._"><i class="bx bxl-tiktok"></i></a>
    <a href="https://www.instagram.com/zdendaaaq/"><i class="bx bxl-instagram-alt"></i></a>
    <a href="https://discord.gg/NuX4kDaUad"><i class="bx bxl-discord"></i></a>
  </div>

  <ul class="list align-text">

    <li>
      <a href="#">Úvod</a>
    </li>

    <li>
      <a href="#services">Služby</a>
    </li>

    <li>
      <a href="#reviews">Recenze</a>
    </li>

    <li>
    <a href="#contact">Kontakt</a>
  </li>
  </ul>
  <p class="copyright align-text">
    © Zdeněk Patík
  </p>
</footer>
