<section class="timeline" id="timeline">
  <h2 class="heading align-text">Časová Osa</h2>

  <div class="timeline-items flex">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2022</div>
      <div class="timeline-content pointer">
        <h3>Základní škola</h3>
        <p>Na základní škole jsem se začal věnovat drobnému programování, psal jsem zábavné skripty pro své kamarády a to mě vedlo k tomu, že jsem začal studovat IT.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2023</div>
      <div class="timeline-content">
        <h3>Střední škola</h3>
        <p>První rok na střední škole informatiky byl těžký, ale naučil jsem se nové věci a začal jsem vytvářet 3D modely a pracovat s datovými soubory.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2023</div>
      <div class="timeline-content">
        <h3>Handball Kariéra</h3>
        <p>V prvním ročníku na střední škole jsem dostal nabídku hrát jako brankář v házené a nabídku jsem přijal, protože jsem se chtěl naučit nové věci. A teď jsme s týmem vyhrali ligu.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2023</div>
      <div class="timeline-content">
        <h3>Přidání se k Developer týmu</h3>
        <p>Na konci roku 2023 jsem se připojil k vývojářskému týmu. Vyvíjíme RolePlay server v Unturnedu, kde mám na starosti assety a modely.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2024</div>
      <div class="timeline-content">
        <h3>Opuštění Developer týmu</h3>
        <p>Uprostřed roku 2024 jsem tým opustil, protože jsem se chtěl soutředit na jiné věci</p>
      </div>
    </div>
  </div>
</section>
