<section class="contact" id="contact">
  <h2 class="heading align-text">Kontaktujte <span class="glow">Mě</span></h2>

  <form action="" class="align-text flex items-center content-center">
    <div class="input-group">
      <div class="input-box flex content-center">
        <input type="text" placeholder="Celé jméno">
        <input type="email" placeholder="Email">
      </div>
      <div class="input-box flex content-center">
        <input type="number" placeholder="Telefonní číslo">
        <input type="text" placeholder="Služba">
      </div>
    </div>

    <div class="input-group-2">
      <textarea name="" id="" cols="30" rows="10" placeholder="Vaše zpráva"></textarea>
      <input type="submit" value="Poslat Zprávu" class="btn pointer">
    </div>
  </form>
</section>
