<section class="services" id="services">
  <h2 class="heading align-text">Služby</h2>

  <div class="services-container items-center grid">
    <div class="service-box pointer">
      <div class="service-info">
        <h4>3D Modely</h4>
        <p>Potřebujete vysoce kvalitní a realistické 3D modely? Vytvořím optimalizované 3D modely na 3D tiskárně nebo i pro hry. Každý model je navržen s ohledem na výkon a vizuální atraktivitu.</p>
      </div>
    </div>

    <div class="service-box pointer">
      <div class="service-info">
        <h4>Assety</h4>
        <p>Nabízím širokou škálu assetů, včetně textur, materiálů a 3D modelů připravených k použití. Ať už pracujete na čemkoliv, naše assety jsou optimalizovány pro bezproblémovou integraci do vašich projektů.</p>
      </div>
    </div>

    <div class="service-box pointer">
      <div class="service-info">
        <h4>Skript Služba</h4>
        <p>Vylepšete si zážitek z Minecraftu pomocí vlastních skriptů! Vytvářím pokročilé skripty pomocí skriptovacího jazyka Skript pro Minecraft, které automatizují hraní, přidávají nové mechaniky a optimalizují funkčnost serveru. Ať už potřebujete vlastní moby, automatizaci nebo vlastní itemy, máme pro vás vše.</p>
      </div>
    </div>

    <div class="service-box pointer">
      <div class="service-info">
        <h4>Trenér</h4>
        <p>Poskytnu základní typy jak se stát brakářem a jak začít, nebo i jak zrychlit Vaše reflexy.</p>
      </div>
    </div>
  </div>
</section>
