<section class="reviews" id="reviews">
  <div class="reviews-box flex items-center content-center flex-column">
    <h2 class="heading align-text">Recenze</h2>

    <div class="wrapper grid">
      <div class="review-item align-text flex flex-column items-center content-center pointer">
        <img src="../assets/images/review1.jpg" alt="Review_img_1">
        <h2>Marek</h2>
        <div class="rating">
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
        </div>
        <h3>Služba: Skript</h3>
        <p>Skripty byly špičkové, suveréní! Díky nim můj Minecraft server měl custom itemy, přidaly unikátní mechaniku a výrazně vylepšily užitek ze hry. Profesionální a rychlé dodání, doporučuji!</p>
      </div>

      <div class="review-item align-text flex flex-column items-center content-center pointer">
        <img src="../assets/images/review2.jpg" alt="Review_img_2">
        <h2>Lukáš</h2>
        <div class="rating">
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
        </div>
        <h3>Služba: 3D Modely</h3>
        <p>Kvalita 3D modelu mě ohromila! Detaily u mé falašné 3D cigarety byly neuvěřitelně realistické. Komunikace byla skvělá a vše bylo doručeno včas. Určitě si objednám znovu, i s Janem!</p>
      </div>

      <div class="review-item align-text flex flex-column items-center content-center pointer">
        <img src="../assets/images/review3.jpg" alt="Review_img_3">
        <h2>Hubert</h2>
        <div class="rating">
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star" id="star"></i>
          <i class="bx bxs-star-half" id="star"></i>
        </div>
        <h3>Služba: 3D Modely</h3>
        <p>3D model mě ohromil, model byl naprosto špičkový, malém jsem se vyráchal. Komunikace byla skvělá a rychlá./p>
      </div>

    </div>
  </div>
</section>
